<h1 class="text-center">HOME</h1>
<div class="container">
	<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, nihil dicta!
	Beatae perferendis impedit est odio veniam perspiciatis dolores delectus
	inventore neque fugit maxime iste nemo vel eligendi ducimus officia
	reprehenderit, accusamus, voluptas illum commodi asperiores eaque velit. Sint
	nemo provident earum consectetur dolore laborum corrupti nulla, incidunt,
	neque voluptate ab aliquam impedit modi reiciendis nam harum itaque eveniet
	aspernatur ratione. Assumenda possimus corporis odio. Tempore inventore eius
	quo ex culpa saepe laudantium, similique nesciunt. Placeat, minima asperiores!
	Distinctio officiis fuga eaque atque provident! Aut eveniet harum autem rem
	iste aliquid natus iusto ipsam consectetur molestiae ex magni, doloribus enim!
	</p>
</div>
